version: "3"

services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566-4568:4566-4568"
    volumes:
      - "./.localstack:/var/lib/localstack"
      - "./localstack:/docker-entrypoint-initaws.d"
      - "/var/run/docker.sock:/var/run/docker.sock"
    logging:
      options:
        max-size: 1M
        max-file: "10"
    environment:
      - SERVICES=sqs,kinesis,dynamodb,sts
      # Kinesis target handles throttling, but it breaks source tests. Configuration added here so we can manually configure testing with throttling for the target.
      - KINESIS_ERROR_PROBABILITY=0.0

  pubsub:
    image: bigtruedata/gcloud-pubsub-emulator
    platform: "linux/amd64" # Only one platform exists for this image
    command: start --host-port 0.0.0.0:8432
    ports:
      - "0.0.0.0:8432:8432"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.12
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  zookeeper-sasl:
    image: confluentinc/cp-zookeeper:7.0.12
    container_name: zookeeper-sasl
    ports:
      - "2182:2182"
    volumes:
      - ./kafka-sasl-config:/etc/kafka/secrets
    environment:
      ZOOKEEPER_CLIENT_PORT: 2182
      ZOOKEEPER_TICK_TIME: 2000
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/secrets/zookeeper_server_jaas.conf -Dzookeeper.authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider"

  broker:
    image: confluentinc/cp-kafka:7.0.12
    container_name: broker
    ports:
    # To learn about configuring Kafka for access across networks see
    # https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  broker-sasl:
    image: confluentinc/cp-kafka:7.0.12
    container_name: broker-sasl
    ports:
      - "9093:9093"
    depends_on:
      - zookeeper-sasl
    volumes:
      - ./kafka-sasl-config:/etc/kafka/secrets
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper-sasl:2182'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_PLAINTEXT_INTERNAL:SASL_PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: SASL_PLAINTEXT://localhost:9093,SASL_PLAINTEXT_INTERNAL://broker-sasl:29093
      KAFKA_INTER_BROKER_LISTENER_NAME: SASL_PLAINTEXT_INTERNAL
      KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
      KAFKA_LISTENER_NAME_SASL_PLAINTEXT_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_LISTENER_NAME_SASL_PLAINTEXT_INTERNAL_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/secrets/kafka_server_jaas.conf"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
