services:
  localstack:
    image: localstack/localstack:4.0.3
    ports:
      - "4566-4568:4566-4568"
    volumes:
      - "./.localstack:/var/lib/localstack"
      - "./localstack:/docker-entrypoint-initaws.d"
      - "/var/run/docker.sock:/var/run/docker.sock"
    logging:
      options:
        max-size: 1M
        max-file: "10"
    environment:
      - SERVICES=sqs,kinesis,dynamodb,sts
      # Kinesis target handles throttling, but it breaks source tests. Configuration added here so we can manually configure testing with throttling for the target.
      - KINESIS_ERROR_PROBABILITY=0.0
      - LOCALSTACK_USER=${DOCKER_UID:-1000}:${DOCKER_GID:-1000}
    user: "${DOCKER_UID:-1000}:${DOCKER_GID:-1000}"

  pubsub:
    image: bigtruedata/gcloud-pubsub-emulator
    platform: "linux/amd64" # Only one platform exists for this image
    command: start --host-port 0.0.0.0:8432
    ports:
      - "0.0.0.0:8432:8432"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.12
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:7.0.12
    container_name: broker
    ports:
    # To learn about configuring Kafka for access across networks see
    # https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
