name: cd

on:
  push:
    tags:
    - '*'

jobs:
  release:
    name: Release
    strategy:
      matrix:
        # Quotes are required: https://github.com/actions/setup-go/issues/326#issuecomment-1415719692
        go-version: ['1.21.1']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        cache: true

    - name: Run linter
      run: make lint

    - name: Extract tag version from ref, and project version from file
      id: version
      run: |
          echo ::set-output name=VERSION_FILE::"refs/tags/$(cat VERSION)"

    - name: Fail if version mismatch
      id: check_version
      if: ${{ github.ref != steps.version.outputs.VERSION_FILE }}
      run: |
        echo "VERSION file ${{steps.version.outputs.VERSION_FILE}} does not match tagged version ${{ github.ref }}"
        exit 1

    - name: Snyk Setup
      uses: snyk/actions/setup@master

    - name: Run Snyk to check for vulnerabilities
      run: snyk test --project-name=snowbridge --severity-threshold=high
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    - name: Install ngrok
      run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip && unzip ngrok-stable-linux-amd64.zip -d $GITHUB_WORKSPACE/bin/
          $GITHUB_WORKSPACE/bin/ngrok authtoken ${{ secrets.NGROK_TOKEN }}

    - name: Setup integration resources
      run: export NGROK_DIR=$GITHUB_WORKSPACE/bin/ && make integration-up

    - name: Run integration & unit tests
      run: make integration-test

    - name: Compile all targets
      run: make all

    - name: Setup e2e resources
      run: make e2e-up

    - name: Run e2e tests
      run: make e2e-test

    - name: Create Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: ${{ contains(github.ref , '-') }}

    - name: Upload release binaries
      uses: alexellis/upload-assets@0.2.3
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        asset_paths: '["./build/compiled/*"]'

    - name: Publish to DockerHub
      run: make container-release
      shell: bash
